.sizeImage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sizeImage img {
  max-width: 80%;
  max-height: 65%;
}

.sizeImage p {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  text-align: left;
}

.titleSticky {
    position: sticky;
    top: 60px;
    background: white;
    z-index: 1;
  }
