.appwrapper {
  /* margin: 5px 5em; */
  display: grid;
  grid-template-rows: minmax(70px avto);
  grid-template-columns: 10fr;
  grid-template-areas:
    'header'
    'content';
}

.content {
  /*содержимое страницы */
  grid-area: content;
}
