.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modalContent {
  width: 320px;
  height: 405px;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem;
}

.modalContent img {
  width: 300px;
}

.close img {
  width: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

/* .childrens */
