header {
  background-color: white;
  border-bottom: 1px grey solid;
  text-align: center;
  position: fixed;
  height: 60px;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.item {
  color: black;
  -webkit-text-stroke: 0.2px black;
  text-decoration: none;
  margin-left: 30px;
  font-size: 16px;
}

.activeLink {
  color: #9f3dfd;
  -webkit-text-stroke: 0.2px black;
  text-decoration: none;
  margin-left: 30px;
  font-size: 16px;
}

@media (max-width: 700px) {
  .item {
    margin-left: 9px;
    /*hello*/
  }
  .activeLink {
    margin-left: 9px;
  }
}
