
.fotoInstallation {
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fotoInstallation img {
  width: 800px;
  height: 470px;
}

.descriptionInstallation{
    display: flex;
}

.fotoInstallation img:hover{
    margin-top: 40px;
    margin-bottom: 20px;
    transform:scale(1.2);
}

.fotoInstallation img:hover ~p{
    margin-top: 40px;
} 

.compound{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
}

/* .fotoInstallation img:hover ~ .em{
  margin-left: 100px;
}  */

.componentInstallaion{
  display: flex;
  text-indent: 30px;
  text-align: justify;
  align-items: center;
}

.componentInstallaion img:hover{
  transform: scale(1.15);
}

.sizeImage{
  height: 400px;
}

.multimetr{
  display: flex;
  flex-direction: column;
  margin-left: 160px;
}

.titleSticky {
  position: sticky;
  top: 60px;
  background: white;
  z-index: 1;
}

.power{
  margin-left: 40px;
}

.compound em:hover{
color: #9f3dfd;;
}