.profile {
  margin-top: 30px;
}

.aboutMe__container {
  display: flex;
  justify-content: center;
}

.contact {
  width: 250px;
}
.contact p {
  margin-top: 20%;
}
.aboutMe {
  margin-top: 60px;
  width: 250px;
  height: 40px;
  background-color: #c290f0;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.foto {
  background: #000;
  width: 320px;
  height: 280px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.foto img {
  height: 300px;
  width: 172px;
  position: absolute;
  top: 11%;
}

.foto img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.foto img:hover ~ p {
  color: black;
  font-weight: 600;
  background-color: white;
}

.foto p {
  position: absolute;
  top: 350px;
  color: white;
}

.number {
  text-align: center;
  flex-direction: column;
  margin-top: 20px;
  color: grey;
}
